@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    @apply text-blue-500 hover:text-blue-500 outline-indigo-300;
}

nav a {
    @apply text-inherit outline-indigo-300;
}

button {
    @apply outline-indigo-300;
}

/* li a { @apply text-indigo-400; } */

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

/* https://www.youtube.com/watch?v=5iTinvbOSn8 */

/* [Part 3: List Products] */

/* tailwind card */
.card {
    @apply mb-5 block rounded-lg border border-gray-200 shadow-md
    hover:cursor-pointer transition-opacity;
} /* shadow-inner */

/* outline-none disabled */
.primary-button {
    @apply  px-4 py-2 rounded outline-indigo-300 text-gray-700
    bg-yellow-400 active:bg-amber-500 hover:bg-gray-400 
    hover:shadow-lg transition-all; 
}
.default-button {
    @apply  px-4 py-2 rounded outline-indigo-300 text-gray-700
    bg-gray-300 active:bg-amber-500 hover:bg-gray-400 
    hover:shadow-lg transition-all ; 
}

input, 
select, 
textarea {
    @apply rounded border p-2 outline-transparent  ring-indigo-300 focus:ring;
}

.img-overlay {
    @apply opacity-90 bg-black rounded-lg;
}

.dropdown-link {
    @apply flex p-2 rounded-lg m-1 hover:bg-gray-200;
}
